**/.github/
**/*.md
**/LICENSE
**/screenshot.png

{{- if eq .osid "darwin" }}
# Linux desktop environment - ignore on macOS
.config/hypr/**
.config/waybar/**
.config/wofi/**
.config/wallpaper/**
.config/mpv/**
{{- end }}