{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $email := promptStringOnce . "email" "Email address" "fu78sion@gmail.com" -}}

{{- $name := promptStringOnce . "name" "Git name" "Rickenbacker620" -}}

{{- $hasgui := true -}}
{{- if eq .chezmoi.os "linux" -}}
{{-   $hasgui = promptBoolOnce . "hasgui" "Install GUI/desktop packages" false -}}
{{- end -}}

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    osid = {{ $osid | quote }}
    hasgui = {{ $hasgui }}