{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $email := promptString "Email address" "fu78sion@gmail.com" -}}

{{- $name := promptString "Git name" "Rickenbacker620" -}}

{{- $choices := list "desktop" "server" -}}
{{- $hosttype := promptChoice "Host type" $choices "server" -}}

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    osid = {{ $osid | quote }}
    hosttype = {{ $hosttype | quote }}