#
# ~/.bashrc
#

# If not running interactively, don't do anything
[[ $- != *i* ]] && return

unset HISTFILE

{{ template "shell_alias" . }}
eval "$(~/.local/bin/mise activate bash)"
eval "$(zoxide init bash)"
eval "$(starship init bash)"
