[tools]
eza = "latest"
dust = "latest"
fd = "latest"
bottom = "latest"
bat = "latest"
ripgrep = "latest"
zoxide = "latest"
fzf = "latest"
duf = "latest"
yazi = "latest"
zellij = "latest"
{{- if eq .chezmoi.os "linux" }}
"aqua:fish-shell/fish-shell" = "latest"
{{- end }}
neovim = "latest"
jq = "latest"
gum = "latest"
starship = "latest"

[settings]
not_found_auto_install = false
not_found_system_fallback = false

[env]
_.file = '~/.config/mise/.env'
